<?xml version="1.0"?>
<launch>
    <arg name="port_l" default="55555" />
    <arg name="host_l" default="192.168.0.223" />

    <arg name="port_r" default="55555" />
    <arg name="host_r" default="192.168.0.222" />

    <node name="gps_l" pkg="twizy_parking_2020" type="gps_left" ns="old">
        <param name="port" value="$(arg port_l)" />
        <param name="addr" value="$(arg host_l)" />
    </node>

    <node name="gps_r" pkg="twizy_parking_2020" type="gps_right" ns="old">
        <param name="port" value="$(arg port_r)" />
        <param name="addr" value="$(arg host_r)" />
    </node>
</launch>