<launch>
    <arg name="model" default="$(find twizy_description)/urdf/twizy.xacro"/>
    <arg name="rvizconfig" default="$(find twizy_description)/rviz/twizy.rviz" />
   
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />
</launch>