<?xml version="1.0"?>
<launch>
    <arg name="world" default="$(find twizy_webots)/worlds/flat.wbt" doc="Path to the world to load" />
    <arg name="mode" default="realtime" doc="Startup mode" />
    <arg name="no-gui" default="false" doc="Start Webots with minimal GUI" />

    <include file="$(find twizy_bringup)/launch/webots.launch">
        <arg name="mode" value="realtime" />
        <arg name="no-gui" value="$(arg no-gui)" />
        <arg name="world" value="$(arg world)" />
    </include>

    <node name="keyboard_control" pkg="twizy_control" type="local_keyboard" />
</launch>